<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.pactera.com.coverage.project.dao.objectDao.SourceClassCoverageDOMapper">
    <resultMap id="BaseResultMap" type="www.pactera.com.coverage.project.dao.objectDo.SourceClassCoverageDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="version_number" jdbcType="VARCHAR" property="versionNumber"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime"/>
        <result column="package_name" jdbcType="VARCHAR" property="packageName"/>
        <result column="source_name" jdbcType="VARCHAR" property="sourceName"/>
        <result column="cover_Line" jdbcType="VARCHAR" property="coverLine"/>
        <result column="miss_Line" jdbcType="VARCHAR" property="missLine"/>
        <result column="not_line" jdbcType="VARCHAR" property="notLine"/>
        <result column="total_line_number" jdbcType="VARCHAR" property="totalLineNumber"/>
        <result column="cover_line_number" jdbcType="VARCHAR" property="coverLineNumber"/>
        <result column="source_coverage_rate" jdbcType="VARCHAR" property="sourceCoverageRate"/>
    </resultMap>

    <select id="selectSourceClassCoverage" resultMap="BaseResultMap">
        select * from source_class_coverage_info where project_name = #{projectName,jdbcType=VARCHAR}
        and version_number = #{versionNumber,jdbcType=VARCHAR}
        and operator = #{operator,jdbcType=VARCHAR} and package_name = #{packageName,jdbcType=VARCHAR} and source_name = #{sourceName,jdbcType=VARCHAR};
    </select>

    <select id="selectSourceClassCoverage2" resultMap="BaseResultMap">
        select * from source_class_coverage_info where project_name = #{projectName,jdbcType=VARCHAR}
        and version_number = #{versionNumber,jdbcType=VARCHAR}
        and operator = #{operator,jdbcType=VARCHAR} and source_name = #{sourceName,jdbcType=VARCHAR};
    </select>

    <insert id="insert" parameterType="www.pactera.com.coverage.project.dao.objectDo.SourceClassCoverageDO">
        insert into source_class_coverage_info(id, `project_name`, `version_number`, `operator`, `operation_time`, `package_name`, `source_name`, cover_Line,
        `miss_Line`, `not_line`, `total_line_number`,`cover_line_number`,`source_coverage_rate`) values(#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{versionNumber,jdbcType=VARCHAR},
        #{operator,jdbcType=VARCHAR}, #{operationTime,jdbcType=TIMESTAMP}, #{packageName,jdbcType=VARCHAR}, #{sourceName,jdbcType=VARCHAR}, #{coverLine,jdbcType=VARCHAR},
        #{missLine,jdbcType=VARCHAR}, #{notLine,jdbcType=VARCHAR},#{totalLineNumber,jdbcType=VARCHAR}, #{coverLineNumber,jdbcType=VARCHAR}, #{sourceCoverageRate,jdbcType=VARCHAR});
    </insert>

    <update id="update" parameterType="www.pactera.com.coverage.project.dao.objectDo.SourceClassCoverageDO">
        update source_class_coverage_info set id = id
        <if test="null != sourceClassCoverageDO.operationTime">
            ,operation_time = #{sourceClassCoverageDO.operationTime,jdbcType=TIMESTAMP}
        </if>
        <if test="sourceClassCoverageDO.coverLine != '' and null != sourceClassCoverageDO.coverLine">
            ,cover_Line = #{sourceClassCoverageDO.coverLine,jdbcType=VARCHAR}
        </if>
        <if test="sourceClassCoverageDO.missLine != '' and null != sourceClassCoverageDO.missLine">
            ,miss_Line = #{sourceClassCoverageDO.missLine,jdbcType=VARCHAR}
        </if>
        <if test="sourceClassCoverageDO.notLine != '' and null != sourceClassCoverageDO.notLine">
            ,not_line = #{sourceClassCoverageDO.notLine,jdbcType=VARCHAR}
        </if>
        <if test="sourceClassCoverageDO.totalLineNumber != '' and null != sourceClassCoverageDO.totalLineNumber">
            ,total_line_number = #{sourceClassCoverageDO.totalLineNumber,jdbcType=TIMESTAMP}
        </if>
        <if test="sourceClassCoverageDO.coverLineNumber != '' and null != sourceClassCoverageDO.coverLineNumber">
            ,cover_line_number = #{sourceClassCoverageDO.coverLineNumber,jdbcType=VARCHAR}
        </if>
        <if test="sourceClassCoverageDO.sourceCoverageRate != '' and null != sourceClassCoverageDO.sourceCoverageRate">
            ,source_coverage_rate = #{sourceClassCoverageDO.sourceCoverageRate,jdbcType=VARCHAR}
        </if>
        where project_name = #{sourceClassCoverageDO.projectName,jdbcType=VARCHAR}
        and version_number = #{sourceClassCoverageDO.versionNumber,jdbcType=VARCHAR}
        and operator = #{sourceClassCoverageDO.operator,jdbcType=VARCHAR} and package_name = #{sourceClassCoverageDO.packageName,jdbcType=VARCHAR} and source_name = #{sourceClassCoverageDO.sourceName,jdbcType=VARCHAR};
    </update>
</mapper>